<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Op page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <style>
        body{
        background-color:#D0EAEA;
        }
        h1{
        color:red;
        }
    </style>
</head>
<body>
<form method="post">
<center>
<div class="form-group">
<h1>Patient Details Form</h1>
    <table>
{{form}}
</table>
    {%csrf_token%}
<input type="submit" class="btn btn-success">
</div>
</center>
</form>
</body>
</html>